.Aipp {
    text-align: center;
  }
  
  
  .Aipp_header {
    background-color: #282c34;
    min-height: 100vh;
    display: flow-root;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(249, 249, 244);
  }
  .btnPrrimary {
    padding: 20px;
    background-color: #61dafb;
    color: #282c34;
    border: 1px solid #282c34;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btnPrrimary:hover {
    background-color: #0c8eff;
    color: white;
  }
  .navBar{
    display: flex;
  justify-content: space-around;
  margin-top: 50px;
  width: 100%;
  }